@tailwind base;
@tailwind components;
@tailwind utilities;


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #475569 #e2e8f0;
    overflow-x: hidden;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #e2e8f0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 10px;
    border: 2px solid #e2e8f0;
  }